<footer class="footer font2 footer-reveal">
  <div class="container">
    <div class="footer-middle">
      <div class="row">
        <div class="col-lg-3">
          <div class="widget mb-3">
            <h4 class="widget-title">HYGIMAR</h4>

            <p>
              HYGIMAR est une société spécialisée dans les produits d’hygiène,
              matériel et accessoires de nettoyage, santé et sanitaires, arts de
              la table et équipement alimentaire.
            </p>
          </div>
          <!-- End .widget -->
        </div>
        <!-- End .col-lg-3 -->

        <div class="col-lg-3">
          <div class="widget mb-3">
            <h4 class="widget-title">Liens rapides</h4>

            <ul class="links">
              <li><a href="/">Accueil</a></li>
              <li><a href="/a-propos">A Propos</a></li>
              <li><a href="/produits">Nos Produits</a></li>
              <li><a href="/contact">Contact</a></li>
            </ul>
          </div>
          <!-- End .widget -->
        </div>
        <!-- End .col-lg-3 -->

        <div class="col-lg-3">
          <div class="widget mb-3">
            <h4 class="widget-title">Nos gammes de produit</h4>

            <ul class="links">
              <% categories.forEach(category => { %>
              <li>
                <a href="/categorie/<%= category._id %>"
                  ><%= category.catg_name %></a
                >
              </li>
              <% }) %>
            </ul>
          </div>
          <!-- End .widget -->
        </div>
        <!-- End .col-lg-3 -->

        <div class="col-lg-3">
          <div class="widget mb-3">
            <h4 class="widget-title">Social Media</h4>

            <div class="social-icons">
              <a
                href="#"
                class="social-icon social-instagram icon-instagram"
                target="_blank"
              ></a>
              <a
                href="#"
                class="social-icon social-twitter icon-twitter"
                target="_blank"
              ></a>
              <a
                href="#"
                class="social-icon social-facebook icon-facebook"
                target="_blank"
              ></a>
            </div>

            <!-- End .social-icons -->
          </div>
          <!-- End .col-lg-3 -->
        </div>
        <!-- End .row -->
      </div>
    </div>
    <div class="footer-bottom">
      <p class="footer-copyright text-lg-center ls-n-25 mb-0">
        HYGIMAR.&nbsp;&copy;&nbsp;&nbsp;2024.&nbsp;&nbsp;All Rights Reserved.
      </p>
    </div>
    <!-- End .footer-bottom -->
  </div>
  <!-- End .container -->
</footer>
